
h2{
    font-weight: 600;
    font-size:25px;
}
h4{
    font-weight: 500;
    font-size: 20px;
}
.loginForm{
    width:450px;
    height:450px;
    margin: 20vh auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius : 10px;
    text-align: center;
    vertical-align : center;
    overflow: hidden;
}

.dropdown{
    position: absolute;
    margin-left: 220px;
    margin-top : 15px;
    width : 80px;
    height : 50px;
    border-bottom: solid 1px #fff;
}

.inputError{
    color: #ff5125;
    font-size: 14px;
}


@media screen and (max-width:600px){
    .loginForm{
        margin:10vh auto;
         width:100vw;
         border:0px;
    }

}
